*{
     margin: 0;
     padding: 0;
}
.container{
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     height: 700px;
     width: 1200px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     box-shadow: 0 0 20px 0;
}
.leftpart{
     background-image: url(img.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     height: 100%;
     width: 50%;
     float: left;
     color: white;
}
.f1{
     width: 88%;
     letter-spacing: 4px;
     padding: 50px 0 0 70px;
}
.f2{
     width: 100%;
     letter-spacing: 4px;
     text-align: center;
     padding-top: 140px;
     font-size: 20px;
}
.f3{
     width: 100%;
     letter-spacing: 4px;
     text-align: center;
     font-size: 60px;
     padding-top: 14px;
}
.f4{
     text-align: center;
     font-size: 12px;
     margin: 40px 100px 0 100px;
}
.rightpart{
     height: 100%;
     width: 50%;
     float: right;
}
.t1{
     width: 100%;
     text-align: center; 
     font-size: 36px;
     color: #2092eb;
     padding-top: 90px;
}
.t2{
     text-align: center;
     font-size: 12px;
     margin: 8px 100px 60px 100px;
     color: #95a5a6;
}
.t3, .t4{
     border: none;
     background: #f1eeee62;
     outline: none;
     width: 60%;
     color: #95a5a6;
     font-size: 24px;
     margin: 10px 0  20px 120px;
     padding: 10px 0 10px 30px;
     border-left: 5px solid #2092eb;
}
.y6{
     display: block;
     padding: 20px 0 0 120px ;
}
.t6{
     display: inline;
     color: #95a5a6;
     padding-left: 10px;

}
.t7{
     float: right;
     padding-right: 18%;
     text-decoration: none;
     color: #2092eb;
}

.y1{
     height: 36%;
     width: 100%;
     text-align: center;
}
.t8{
     margin-top: 70px;
     font-size: 20px;
     letter-spacing: 5px;
     padding: 10px 120px 10px 120px;
     border: 1px;
     border-radius: 30px;
     background-color: #0e82db;
     color: white;
}